<!DOCTYPE html>
<% content_for :title do %>Profile<% end %>

<body>
<table class="table">
<tr>
	<th>First Name</th>
	<th>Middle Name</th>
	<th>Last Name</th>
	<th>Email</th>
	<th>Admin</th>
	<% if current_user.admin_flag == 0 %>
	<th>Edit</th>
	<% end %>
</tr>
<tr>
	<td><%= current_user.first_name.gsub(/\s.+/, '') %></td>
	<td><%= current_user.first_name.split(" ")[1] %></td>
	<td><%= current_user.last_name %></td>
	<td><%= current_user.email %></td>
	<td><% if user_has? :admin %>
			Yes
    <% else %>
      No
	<% end %>
	</td>
	<% if current_user.admin_flag == 0 %>
	<td>
		<%= link_to "Edit" , user_edit_path %>		
	</td>
	<% end %>
</tr>

</table>
</body>
</html>
