<!DOCTYPE html>
<% content_for :title do %>Schedules<% end %>


<body>
<table class="schedules">
  <tr>
    <th><%= link_to "Name" %></th>
    <% if current_user.admin_flag == 0 %>
      <th colspan="3">Settings</th>
    <% else %>
      <th>Settings</th>
    <% end %>
  </tr>
<% @schedules.each do |schedule| %>
  <tr>
    <td><%= link_to schedule.name, schedule %></td>
    <% if current_user.admin_flag == 0 %>
    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'Destroy', schedule, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
    <% end %>
    <td><%= link_to 'Duplicate', schedule %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New schedule', new_schedule_path, class: "button radius" %>
</body>
</html>