<% content_for :title do %><%= @schedule.name %><% end %>
<h2><%= @schedule.name %></h2>
<p id="notice"><%= notice %></p>

<%= render partial: 'shared/sections', locals: {sections: @schedule.sections} %>

<%= link_to 'Back', schedules_path %>
