<% content_for :title do %><%= @schedule.name %><% end %>
<h2><%= @schedule.name %></h2>
<p id="notice"><%= notice %></p>

<%= render partial: 'shared/sections', locals: {sections: @schedule.sections} %>

<table>
	<td><%= link_to 'Back', courses_path %></td>
	<td><%= link_to 'Edit', edit_schedule_path %></td>
</table>
