<h2>Sections</h2>

<table class="table">
  <tr>
    <th>Course</th>
    <th>Section</th>
    <th>Teacher</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Days of week</th>
    <th>Room</th>
    <th>CRN</th>
    <th>Add to Schedule</th>
  </tr>

<% sections.each do |section| %>
  <tr>
    <td><%= link_to section.course.name, section.course %></td>
    <td><%= section.code %></td>
    <td><% section.teachers.each do |teacher|%> 
        <%= link_to Teacher.find(teacher.id).name, Teacher.find(teacher.id) %>
        <% end -%>
    </td>
    <td><%= section.start_time %></td>
    <td><%= section.end_time %></td>
    <td><%= section.days_of_week %></td>
    <td><%= link_to section.building_code, section.building %>&nbsp;<%= section.room_number %></td>
    <td><%= section.crn %></td>
    <!--This is the pop-up for selecting schedule -->
    <% if current_user %>
        <td><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block'">Add to Schedules</a></p>
        <div id="light" class="white_content">Select a Schedule: <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
            <table>
                <% @schedules.each do |schedule| %>
                <tr>
                    <td><%= link_to schedule.name, schedule_add_path(schedule, section) %></td>
                </tr>
                <% end %>
            </table>
        </div>
        <div id="fade" class="black_overlay"></div></td>
    <% else %>
        <td>Sign in to add to schedule</td>
    <% end %>
  </tr>
<% end %>
</table>


<% sections_by_time = sections.select { |s| s.start_time != "TBA"}.sort_by { |s| Time.parse(s.start_time) rescue nil} %>

<table class="table">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>

<% current_start_time = "" %>
<% current_end_time = "" %>
<% section_list = Array.new %>
<% times_by_interval = Array.new %>

<!--
<% sections_by_time.each do |section| %>
    <tr>
        <% 'MTWRFS'.split("").each do |dow| %>
            <td>
                <% if section.days_of_week.include? dow %>
                    <% section_list << section %>
                    <% if ((section.start_time != current_start_time) or (section.end_time != current_end_time)) %>
                        <% current_start_time = section.start_time %>
                        <% current_end_time = section.end_time %>
                        <% if section_list.size == 1 %>
                            <%= "Sec " + section.code + " -" %>
                            <%= section.start_time %>
                            <%= section.days_of_week %>
                        <% else %>
                            <%= "Sections: " %>
                            <% section_list.each do |mySection| %>
                                <%= mySection.code + ", " %>
                            <% end %>
                        <% end %>
                        <% section_list.clear %>
                    <% else %>
                        <%= "" %>
                    <% end %>
                <% end %>
            </td>
        <% end %>
        <td></td>
    </tr>

<% end %>-->

<% def minutes_to_time(minutes) %>
    <% hours = 8 %>
    <% while minutes >= 60 do %>
        <% hours = hours + 1 %>
        <% minutes = minutes - 60 %>
    <% end %>
    <% if hours > 12 %>
        <% hours = hours - 12 %>
    <% end %>
    <% if minutes == 0 %>
        <% return hours.to_s + ":00" %>
    <% end %>
    <% return hours.to_s + ":" + minutes.to_s %>
<% end %>

<% minutes_in_a_day = 540 %>
<% i = 0 %>
<% while i < minutes_in_a_day do %>
    <% times_by_interval << i %>
    <% i = i+15 %>
<% end %>

<% times_by_interval.each do |time| %>
    <tr>
        <td>
        <%= minutes_to_time(time) %>
        </td>
    </tr>
<% end %>

</table>
