<h2>Sections</h2>

<%
  def parse_time(time)
    hour, minute, meridian, = /(\d+):(\d+) ?(AM|PM)/.match(time).captures
    unless hour
      raise 'invalid time ' + time
    end

    if hour == '12'
      hour = 0
    end

    (meridian == 'AM' ? hour.to_i : hour.to_i + 12) * 60 + minute.to_i
  end
%>

<%= content_tag(:table,
				id: "sections-display",
				class: "table",
				data: { sections: sections.select { |s| s.start_time != 'TBA' }.map { |s| s.serializable_hash.merge(start_min: parse_time(s.start_time), end_min: parse_time(s.end_time), course: s.course.serializable_hash) } }
			    ) do %>
  <tr>
    <th colspan="2">Course</th>
    <th>Section</th>
    <th>Teacher</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Days of week</th>
    <th>Room</th>
    <th>CRN</th>
    <% if @schedule %>
        <th>Delete</th>
    <% else %>
        <th>Add to Schedule</th>
    <% end %>
  </tr>

<% sections.each do |section| %>
  <tr>
    <td ><%= link_to section.course.name, section.course %></td>
    <td><%= section.course.department_code %>&nbsp;<%= section.course.course_number %></td>
    <td><%= section.code %></td>
    <td><% section.teachers.each do |teacher|%> 
        <%= link_to Teacher.find(teacher.id).name, Teacher.find(teacher.id) %>
        <% end -%>
    </td>
    <td><%= section.start_time %></td>
    <td><%= section.end_time %></td>
    <td><%= section.days_of_week %></td>
    <td><%= link_to section.building_code, section.building %>&nbsp;<%= section.room_number %></td>
    <td><%= section.crn %></td>
    <!--This is the pop-up for selecting schedule -->
    <% if @schedule %>
        <td><%= link_to "Remove", schedule_remove_path(@schedule, section) , confirm: 'Are you sure?' %></td>
    <% elsif current_user %>
        <td><a class="add" data-toggle="modal" href="#">Add to Schedule</a>
            <div class="modal in fade">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="header-content">Schedules:</span>
                     <button type="button" class="close">&times;</button>
                    </div>
                    <div class="modal-body">Select a Schedule:<br />
                        <table>
                           <% user_schedules.each do |schedule| %>
                                <tr>
                                    <td><%= link_to schedule.name, schedule_add_path(schedule, section) %></td>
                                </tr>
                            <% end %>
                                <tr>
                                    <td>
                                        <input class="show-button btn btn-primary" type="button" value="New Schedule">
                                        <form class="input-form">
                                        <div class="input-group">
                                        <span class="input-group-addon">Name:</span>
                                        <input type="text"  class="form-control" name="Name">
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default">Create</button></span>
                                        </div>
                                        </form>
                                    </td>
                                </tr>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </td>
        <!--
        <div class="white_content">Select a Schedule: <a class="hide_add" href = "#">Close</a>
            <table>
            <% if !user_schedules || user_schedules.empty?  %>
                <tr>
                    <td><input id="show-button" type="button" value="New Schedule"><form id="input-form">Name:<input type="text" name="Name"><input type="submit" value="Create"></form></td>
                </tr>
            <% else %>
                <% user_schedules.each do |schedule| %>
                <tr>
                    <td><%= link_to schedule.name, schedule_add_path(schedule, section) %></td>
                </tr>
                <% end %>
            <% end %>
            </table>
        </div>
        <div class="black_overlay"></div></td>-->
    <!-- This case should never happen because you should have to
    be signed in to see this page -->
    <% else %>
        <td>Sign in to add to schedule</td>
    <% end %>
  </tr>
<% end %>
<% end %>

</table>
