<h2>Sections</h2>

<table class="table">
  <tr>
    <th>Course</th>
    <th>Section</th>
    <th>Teacher</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Days of week</th>
    <th>Room</th>
    <th>CRN</th>
    <th>Add to Schedule</th>
  </tr>

<% sections.each do |section| %>
  <tr>
    <td><%= link_to section.course.name, section.course %></td>
    <td><%= section.code %></td>
    <td><% section.teachers.each do |teacher|%> 
        <%= link_to Teacher.find(teacher.id).name, Teacher.find(teacher.id) %>
        <% end -%>
    </td>
    <td><%= section.start_time %></td>
    <td><%= section.end_time %></td>
    <td><%= section.days_of_week %></td>
    <td><%= link_to section.building_code, section.building %>&nbsp;<%= section.room_number %></td>
    <td><%= section.crn %></td>
    <!--This is the pop-up for selecting schedule -->
    <% if current_user %>
        <td><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block'">Add to Schedules</a></p>
        <div id="light" class="white_content">Select a Schedule: <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
            <table>
                <% @schedules.each do |schedule| %>
                <tr>
                    <td><%= link_to schedule.name, schedule_add_path(schedule, section) %></td>
                </tr>
                <% end %>
            </table>
        </div>
        <div id="fade" class="black_overlay"></div></td>
    <% else %>
        <td>Sign in to add to schedule</td>
    <% end %>
  </tr>
<% end %>
</table>


<% sections_by_time = sections.select { |s| s.start_time != "TBA"}.sort_by { |s| Time.parse(s.start_time) rescue nil} %>

<table class="table">
    <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>

<% sections_by_time.each do |section| %>
    <tr>
        <% 'MTWRFS'.split("").each do |dow| %>
            <td>
                <% if section.days_of_week.include? dow %>
                    <%= section.code %>
                    <%= section.start_time %>
                    <%= section.days_of_week %>
                <% end %>
            </td>
        <% end %>
        <td></td>
    </tr>

<% end %>
</table>
