<!DOCTYPE html>
<% content_for :title do %>Departments<% end %>
<body>
<table class="departments">
  <tr>
    <th><%= link_to "Code" %></th>
    <th><%= link_to "Name" %></th>
    <% if current_user.admin_flag == 0 %>
      <th colspan="2">Settings</th>
    <% end %>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= department.code %></td>
    <td><%= link_to department.name, department %></td>
    <% if current_user.admin_flag == 0 %>
      <td><%= link_to 'Edit', edit_department_path(department) %></td>
      <td><%= link_to 'Destroy', department, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Department', new_department_path, class: "button radius" %>
</body>
</html>