<% content_for :title do %>Departments<% end %>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>`
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= department.code %></td>
    <td><%= link_to department.name, department %></td>
    <td><%= link_to 'Edit', edit_department_path(department) %></td>
    <td><%= link_to 'Destroy', department, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Department', new_department_path, class: "button radius" %>
