<% content_for :title do %><%= @department.name %> (<%= @department.code %>)<% end %>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @department.courses.each do |course| %>
  <tr>
    <td><%= course.department_code %>&nbsp;<%= course.course_number %></td>
    <td><%= link_to course.name, course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
