<% content_for :title do %><%= @department.name %> (<%= @department.code %>)<% end %>

<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <% if user_has? :admin %>
      <th colspan=2>Settings</th>
    <% end %>
  </tr>

<% @department.courses.each do |course| %>
  <tr>
    <td><%= course.department_code %>&nbsp;<%= course.course_number %></td>
    <td><%= link_to course.name, course %></td>
    <% if user_has? :admin %>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Remove', course, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
