<% content_for :title do %>Teachers<% end %>

<% teachers_chunked = @teachers.group_by {|teacher| teacher.name.split[-1][0]} %>

<% teachers_chunked.keys.sort.each do |letter| %>

  <div class="container">
    <div class="row top-buffer">
      <!-- <ul class="large-block-grid-4"> -->
      <!-- <div class="flexcontainer"> -->
      <h2 class="col-md-1"><%= letter.upcase %></h2>
      <div class="row col-md-11">
        <% teachers_chunked[letter].sort_by {|teacher| teacher.name.split[-1]}.each do |teacher| %>
          <div class="teacher-button">
          <%= link_to teacher_path(teacher), class: "btn btn-default" do %>
            <%= teacher.name %>
            <span class="badge pull-radius"><%= teacher.sections_count %></span>
          <% end %>
          </div>
        <% end %>
      </div>
      <!-- </div> -->
      <!-- </ul> -->
    </div>
  </div>
<% end %>

<br />
<% if user_has? :admin %>
<%= link_to 'New Teacher', new_teacher_path, class: "button radius" %>
<% end %>
