<!DOCTYPE html>
<% content_for :title do %>Courses<% end %>

<head>

</head>

<body>

<table class="tablesorter courses">
  <tr>
    <th><%= link_to "Code" %></th>
    <th><%= link_to "Name" %></th>
    <th><%= link_to "Department" %></th>
    <th colspan="3"><%= link_to "Settings" %></th>
  </tr>

<% for course in @courses %>
  <tr>
    <td><%= course.department_code %>&nbsp;<%= course.course_number %></td>
    <td><%= link_to course.name, course %></td>
    <td><%= link_to course.department.name, course.department %>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
    <td>Add to Schedule</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path, class: "button radius" %>
</body>
</html>

