<% content_for :title do %>Courses<% end %>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
<% puts course.inspect %>
  <tr>
    <td><%= course.department_code %>&nbsp;<%= course.course_number %></td>
    <td><%= link_to course.name, course %></td>
    <td><%= link_to course.department.name, course.department %>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path, class: "button radius" %>
