<% content_for :title do %><%= @course.department_code + ' ' + @course.course_number %><% end %>
<h2><%= @course.name %></h2>
<p id="notice"><%= notice %></p>

<%= render partial: 'shared/sections', locals: {sections: @course.sections} %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
