<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name"></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>
            <li><%= link_to "Sections", sections_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Teachers", teachers_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Buildings", buildings_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Departments", departments_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Classes", courses_path %></li>
            <li class="divider"></li>
          </ul>
          <ul class="right">
            <li class="divider"></li>
            <% if current_user %>
              <li><%= link_to "#{current_user.first_name}", static_url %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign Out', signout_path %></li>
            <% else %>
              <li><%= link_to "Sign In", "/auth/google_oauth2" %></li>
            <% end %>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row">
      <div class='large-12 columns'>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns expand"><%= yield %></div>
    </div>
    <div><%= link_to 'Create Schedules', update_schedules_path, {class: "large button radius expand"}%> </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
